body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: rgba(147, 233, 222, 0.849);
  /*
  background: linear-gradient(
    180deg,
    rgba(2, 23, 61, 1) 0%,
    rgb(20, 20, 121) 15%,
    rgb(10, 247, 215) 76%
  );*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
